<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cUsuarios.css">
    <title>City Alert</title>
</head>

<body>
    <!----------Barra de navegacion-->
    <nav>
        <div class="container">
            <h2 class="log">
                City Alert
            </h2>
            <div class="search-bar">
                <img src="CSS/img/search.png">
                <input type="search" placeholder="Buscar Usuario">
            </div>
            <label class="btn btn-primary" onclick="BackHome();">Home</label>
        </div>
    </nav>
    <!-------fin Barra de navegacion-->
    <main>
        <div class="conteiner">
            <div class="left">

            </div>
            <div class="middle">
                <!----------Tabla todos los Usuarios-------------->
                <table class="all-users">
                    <thead>
                        <tr>
                            <th>Id Sexo</th>
                            <th>Id Persona</th>
                            <th>Id Usuario</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Id Tipo</th>
                            <th>Nombre</th>
                            <th>Appat</th>
                            <th>Apmat</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Id Asentamiento</th>
                            <th>Sexo</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><img src="CSS/img/delete.png"></td>
                        </tr>
                    </tbody>
                </table>
                <!----------Fin Tabla todos los Usuarios-------------->
            </div>
            <div class="right">

            </div>
        </div>

    </main>


    <script src="scripts/home.js"></script>
</body>

</html>