@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --login-bg: #f8f3ff;
    --title-bg: #452743;
    --button-bg: #639b90;
    --light-pink: #452743;
    --image-bg: #fff;
    --color-dark:#f6f0e4 ;
    --color-dark-xx:#639b90;
    --color-dark-x:#452743;
    --color-light:#ffffff;
    --color-grey:#f5f6f8;
}

.asentamiento.inactive{
    display: none;
}
h4, a{
    color: var(--button-bg);
} 

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-image: linear-gradient(to top, #639b90 0%, #f6f0e4 100%);
    color: var(--color-light);
    letter-spacing: .05rem;
    color:var(--color-dark-x);

}

.image-container{
    background-color: #ffff;
}
.image-container img {
    width: 30rem;
    height: 20rem;
    position: relative;
    top: 0;
    left: 0.01rem;
    margin-top: 30%;
}
.p-6{
    padding: 4rem 7rem;
}
.contact-box{
    margin-left: 5rem;
    padding: 4rem;
}
.btn-outline-dark{
    border: 2px solid var(--color-dark-x);
    background-color: transparent !important;
}
.form-control{
    background-color: var(--color-light);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}
.btn{
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}
.btn{
    width: 30%;
    margin-bottom: 4rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:var(--color-dark-x);
    border-radius:5px ;
    background-color:var(--button-bg);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.col-xl-7{
    background-color: white;

}
.form-group input{
    height: 0.5rem;
}
.form-group select{
    width: 9rem;
}

/*==========responsive============*/
@media screen and (max-width:1200px) {
    
    
}

@media screen and (max-width:992px) {
    
}
